<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chương trình tập</title>
    <link href="../css/chuongtrinhtap.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/ed7ebbf6c6.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar">
        <div class="container1">
            <a href="/index" class="navbar-brand">WARRIOR HOUSE</a>
            <div class="navbar-nav">
                <a href="/index">Trở về trang chủ</a>
            </div>
        </div>
    </nav>
    <div class="box">
        <div class="container2">
            <h1 id="title">LỰA CHỌN MỨC ĐỘ PHÙ HỢP VỚI BẠN</h1>
            <p>Bạn hãy lựa chọn 1 trong 3 mức độ tập phù hợp nhất với kinh nghiệm tập luyện của bản thân để đảm bảo việc
                tập luyện đạt được kết quả tối ưu.</p>
        </div>
        <section id="programs">
            <div class="itembox" id="box1">
                <img src="../images/beginbg.jpg" alt="begin"><a href="/easy">
                    <div class="overlay">
                        <div class="tittle">
                            <h2>BEGINNER LEVEL</h2>
                        </div>
                        <div class="description">Phù hợp với người có kinh nghiệm tập luyện dưới 1 năm</div>
                    </div>
            </div>


            <div class="itembox" id="box2">
                <img src="../images/internbg.jpg" alt="medium"><a href="/medium">
                    <div class="overlay">
                        <div class="tittle">
                            <h2>INTERMEDIATE LEVEL</h2>
                        </div>
                        <div class="description">Phù hợp với người có kinh nghiệm tập luyện từ 1 đến 2 năm</div>
                    </div>
            </div>

            <div class="itembox" id="box3">
                <img src="../images/advancebg.jpg" alt="advance"><a href="/hard">
                    <div class="overlay">
                        <div class="tittle">
                            <h2>ADVANCED LEVEL</h2>
                        </div>
                        <div class="description">Phù hợp với người có kinh nghiệm tập luyện trên 2 năm</div>
                    </div>
            </div>
        </section>

    </div>
    
</body>

</html>